* {
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: inherit;
  margin-left: 10px;
  font: inherit;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid hsl(237, 14%, 26%);
  border-radius: 1em;
  transform: translateY(-5%);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--form-control-color);
  transform-origin: bottom left;
  clip-path: url(./images/icon-check.svg);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.app {
  min-width: 100vw;
  min-height: 100vh;
  background-size: 100% 40vh;
  background-repeat: no-repeat;
  background-image: url(./images/bg-mobile-dark.jpg);
  background-color: hsl(235, 21%, 11%);
  color: white;
  flex-direction: column;
}
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 60px 35px 40px;
}

.header h1 {
  text-transform: uppercase;
  letter-spacing: 13px;
  font-weight: 700;
  font-size: 2em;
}
.setLight {
  width: 30px;
  height: 30px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  border: 0px;
  background-image: url(./images/icon-sun.svg);
  justify-self: right;
}

.new_todo,
.new_todo_div {
  background-color: hsl(235, 24%, 19%);
  background-repeat: no-repeat;
  border: 0px;
  border-radius: 8px;
  color: hsl(234, 11%, 52%);
  padding: 15px;
}

.todo_list,
.new_todo_div {
  width: 80%;
}
.new_todo,
.todo_list_element,
.remove_icon {
  display: inline;
}

.new_todo_div,
.todo_list {
  margin: 20px auto;
}

.todo_div,
.todo_list_element {
  background-color: hsl(235, 24%, 19%);
  background-repeat: no-repeat;
  color: white;
  padding: 15px;
}
.new_todo_div,
.todo_div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 400;
}
.todo_div > *,
.new_todo_div > * {
  cursor: pointer;
}
.status_and_clear {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid hsl(233, 14%, 35%);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: hsl(233, 14%, 35%);
  font-weight: 400;
}
.clear {
  justify-self: end;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-weight: 700;
  margin: 20px auto;
}

.dragdrop {
  color: hsl(234, 11%, 52%);
  font-size: 1em;
  padding: 30px;
  text-align: center;
}
.remove_icon {
  background-image: url(./images/icon-cross.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-left: auto;
  padding: 0px 5px;
}
