.todo-items-wrapper {
  margin-top: 30px;
  border-radius: 6px;
  overflow: hidden;
  background-color: hsl(235, 24%, 19%);
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.todo-items-info.light {
  background-color: white;
}

.todo-items {
  background-color: hsl(235, 24%, 19%);
}

.todo-items.light {
  background-color: white;
}

.todo-text {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: hsl(234, 39%, 85%);
}

.todo-text.light {
  color: hsl(235, 19%, 35%);
}

.todo-text-checked {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: hsl(233, 14%, 35%);
  text-decoration: line-through;
}
