main {
  background-image: url(./images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: 100% 35vh;
  background-color: hsl(235, 21%, 11%);
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
}

.main.light {
  background-image: url(./images/bg-desktop-light.jpg);
  background-color: white;
}

.container {
  margin-top: 75px;
  height: 100%;
}

.check-mark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid hsl(237, 14%, 26%);
  cursor: pointer;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: auto 20px;
}
.check-mark.light {
  border: 2px solid hsl(236, 33%, 92%);
}
.check-mark-checked {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background: linear-gradient(
        135deg,
        rgba(85, 221, 255) 0%,
        rgba(192, 88, 243) 100%
      )
      padding-box,
    linear-gradient(135deg, rgba(85, 221, 255) 0%, rgba(192, 88, 243) 100%)
      border-box;
  margin: auto 20px;
}
.mark {
  background-image: url(./images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.check-mark:hover {
  background: linear-gradient(hsl(235, 24%, 19%), hsl(235, 24%, 19%))
      padding-box,
    linear-gradient(135deg, rgba(85, 221, 255) 0%, rgba(192, 88, 243) 100%)
      border-box;
  border: 2px solid transparent;
  border-radius: 50%;
}
.check-mark.light:hover {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(135deg, rgba(85, 221, 255) 0%, rgba(192, 88, 243) 100%)
      border-box;
}

@media only screen and (max-width: 800px) {
  main {
    background-image: url(./images/bg-mobile-dark.jpg);
    background-size: 100% 270px;
  }
  .main.light {
    background-image: url(./images/bg-mobile-light.jpg);
  }
  .check-mark:hover,
  .check-mark.light:hover {
    background: transparent;
    border-radius: 50%;
    border: 2px solid hsl(237, 14%, 26%);
  }
  .check-mark.light:hover {
    border: 2px solid hsl(236, 33%, 92%);
  }
}
