* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.main {
  background-image: url(./images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: 100% 35vh;
  background-color: hsl(235, 21%, 11%);
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  min-width: 400px;
}

.main.light {
  background-image: url(./images/bg-desktop-light.jpg);
  background-color: white;
}

.container {
  margin-top: 75px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.header img {
  cursor: pointer;
}

.title {
  color: white;
  letter-spacing: 10px;
  font-size: 2em;
  font-weight: bold;
}

.new-todo {
  width: 100%;
  height: 70px;
  background-color: hsl(235, 24%, 19%);
  margin-top: 50px;
  border-radius: 6px;
  display: flex;
}
.new-todo.light {
  background-color: white;
}

.check {
  flex-basis: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-mark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid hsl(237, 14%, 26%);
  cursor: pointer;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-mark.light {
  border: 2px solid hsl(236, 33%, 92%);
}
.check-mark-checked {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/icon-check.svg);

  background: linear-gradient(
        135deg,
        rgba(85, 221, 255) 0%,
        rgba(192, 88, 243) 100%
      )
      padding-box,
    linear-gradient(135deg, rgba(85, 221, 255) 0%, rgba(192, 88, 243) 100%)
      border-box;
}
.mark {
  background-image: url(./images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 10px;
}

.todo-remove {
  padding-right: 15px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
.todo-remove-icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-remove-icon:hover {
  background-color: rgba(192, 88, 243);
}
.todo-remove-icon.light:hover {
  background-color: rgba(85, 221, 255);
}
.check-mark img {
  visibility: hidden;
}

.check-mark.checked img {
  visibility: visible;
}

.check-mark:hover {
  background: linear-gradient(hsl(235, 24%, 19%), hsl(235, 24%, 19%))
      padding-box,
    linear-gradient(135deg, rgba(85, 221, 255) 0%, rgba(192, 88, 243) 100%)
      border-box;
  border: 2px solid transparent;
  border-radius: 50%;
}
.check-mark.light:hover {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(135deg, rgba(85, 221, 255) 0%, rgba(192, 88, 243) 100%)
      border-box;
}

.new-todo-input {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.new-todo-input-text {
  width: 100%;
  padding: 10px 0px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(234, 39%, 85%);
}
.new-todo-input-text.light {
  color: hsl(235, 19%, 35%);
}

.new-todo-input form {
  flex-grow: 1;
  display: flex;
}

.new-todo-input input::placeholder {
  color: hsl(233, 14%, 35%);
  font-size: 18px;
}

.todo-text {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: hsl(234, 39%, 85%);
}
.todo-text.light {
  color: hsl(235, 19%, 35%);
}
.todo-text-checked {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: hsl(233, 14%, 35%);
  text-decoration: line-through;
}

.todo-item {
  width: 100%;
  height: 70px;
  background-color: hsl(235, 24%, 19%);
  display: flex;
  border-bottom: 1px solid hsl(237, 14%, 26%);
  cursor: pointer;
  transition: all 0.25s ease;
  transition-property: box-shadow, transform, border-color;
}
.todo-item.light {
  background-color: white;
  border-bottom: 1px solid hsl(236, 33%, 92%);
}

.todo-items-wrapper {
  margin-top: 30px;
  border-radius: 6px;
  overflow: hidden;
  background-color: hsl(235, 24%, 19%);
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.todo-items-info {
  width: 100%;
  height: 70px;
  background-color: hsl(235, 24%, 19%);
  align-items: center;
  color: hsl(233, 14%, 35%);
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.todo-items-info > * {
  font-size: 0.8em;
}
.items-left {
  padding-right: 60px;
}
.items-clear {
  padding-left: 60px;
}
.items-status > * {
  padding: 0px 6px;
  font-size: 1em;
  cursor: pointer;
}
div:last-child .mobile-todo-info {
  display: none;
}
.todo-items-info.light {
  background-color: white;
}

.items-status {
  display: flex;
  justify-content: center;
  padding: 0px 20px;
}
.active {
  color: hsl(220, 98%, 61%);
}

.items-status span {
  cursor: pointer;
  padding: 0px 8px;
}

.items-clear {
  cursor: pointer;
  text-align: end;
}

.items-status span:hover,
.items-status > *:hover,
.items-clear:hover {
  color: hsl(220, 98%, 61%);
}
ì .todo-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
  border-color: hsl(235, 24%, 19%);
}
.todo-item.light:hover {
  transform: none;
  box-shadow: 0 0px 7px 0px hsl(236, 29%, 84%);
  border-color: hsl(236, 33%, 92%);
}

.info {
  text-align: center;
  padding: 30px 0px;
  font-size: 0.9em;
  color: hsl(233, 14%, 35%);
}
@media only screen and (max-width: 700px) {
  #root {
    min-width: 400px;
  }
  .info {
    height: max-content;
  }
  .main {
    background-image: url(./images/bg-mobile-dark.jpg);
    background-size: 100vw 40vh;
  }
  .main.light {
    background-image: url(./images/bg-mobile-light.jpg);
  }
  div:last-child .mobile-todo-info {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.4);
  }
  .items-status > * {
    font-weight: 700;
  }
  .items-left {
    padding-right: 150px;
  }
  .todo-items-info .items-left {
    display: none;
  }

  .todo-items-info .items-status {
    flex: 1;
  }

  .todo-items-info .items-clear {
    display: none;
  }

  .todo-items-wrapper .todo-items-info {
    display: flex;
  }

  .todo-items-wrapper .todo-items-info .items-left {
    display: flex;
  }

  .todo-items-wrapper .todo-items-info .items-status {
    display: none;
  }

  .todo-items-wrapper .todo-items-info .items-clear {
    display: flex;
  }
}
