* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: hsl(235, 21%, 11%);
  font-size: 18px;
  display: flex;
  justify-content: center;
  min-width: 400px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 20vh;
  z-index: -1;
}

.background-image img {
  width: 100%;
  object-fit: cover;
  min-height: 40vh;
  object-position: left;
}

.container {
  width: 80vw;
  margin: 0px 30px;
  margin-top: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.header img {
  cursor: pointer;
}

.title {
  color: white;
  letter-spacing: 10px;
  font-size: 50px;
  font-weight: bold;
}

.new-todo {
  width: 100%;
  height: 70px;
  background-color: hsl(235, 24%, 19%);
  margin-top: 50px;
  border-radius: 6px;
  display: flex;
}

.check {
  flex-basis: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-mark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid hsl(237, 14%, 26%);
  cursor: pointer;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-mark-checked {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/icon-check.svg);

  background: linear-gradient(
        135deg,
        rgba(85, 221, 255) 0%,
        rgba(192, 88, 243) 100%
      )
      padding-box,
    linear-gradient(135deg, rgba(85, 221, 255) 0%, rgba(192, 88, 243) 100%)
      border-box;
}
.mark {
  background-image: url(./images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 10px;
}

.todo-remove {
  padding-right: 15px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
.todo-remove-icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-remove-icon:hover {
  background-color: rgba(192, 88, 243);
}

.check-mark img {
  visibility: hidden;
}

.check-mark.checked img {
  visibility: visible;
}

.check-mark:hover {
  background: linear-gradient(hsl(235, 24%, 19%), hsl(235, 24%, 19%))
      padding-box,
    linear-gradient(135deg, rgba(85, 221, 255) 0%, rgba(192, 88, 243) 100%)
      border-box;
  border: 2px solid transparent;
  border-radius: 50%;
}

.new-todo-input {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.new-todo-input input {
  width: 100%;
  padding: 10px 0px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(234, 39%, 85%);
}

.new-todo-input form {
  flex-grow: 1;
  display: flex;
}

.new-todo-input input::placeholder {
  color: hsl(233, 14%, 35%);
}

.todo-text {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: white;
}
.todo-text-checked {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: hsl(233, 14%, 35%);
  text-decoration: line-through;
}

.todo-item {
  width: 100%;
  height: 70px;
  background-color: hsl(235, 24%, 19%);
  display: flex;
  border-bottom: 1px solid hsl(237, 14%, 26%);
  cursor: pointer;
  transition: all 0.25s ease;
  transition-property: box-shadow, transform, border-color;
}

.todo-items-wrapper {
  margin-top: 30px;
  border-radius: 6px;
  overflow: hidden;
  background-color: hsl(235, 24%, 19%);
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.todo-items-info {
  width: 100%;
  height: 70px;
  background-color: hsl(235, 24%, 19%);
  align-items: center;
  color: hsl(233, 14%, 35%);
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  border-radius: 6px;
  font-size: 1em;
}

.items-status {
  display: flex;
  justify-content: center;
}

.items-status span {
  padding: 0 8px;
  cursor: pointer;
}

.items-clear {
  cursor: pointer;
  text-align: end;
}

.items-status span:hover,
.items-status > *:hover,
.items-clear:hover {
  color: hsl(220, 98%, 61%);
}
.active {
  color: hsl(220, 98%, 61%);
}

.todo-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
  border-color: hsl(235, 24%, 19%);
}

.todo-items-wrapper .todo-items-info {
  display: none;
}
.info {
  text-align: center;
  padding: 30px 0px;
  font-size: 0.9em;
  color: hsl(233, 14%, 35%);
}
@media only screen and (max-width: 700px) {
  * {
    font-size: 18px;
  }

  #root {
    min-width: 400px;
  }

  .todo-items-info .items-left {
    display: none;
  }

  .todo-items-info .items-status {
    flex: 1;
  }

  .todo-items-info .items-clear {
    display: none;
  }

  .todo-items-wrapper .todo-items-info {
    display: flex;
  }

  .todo-items-wrapper .todo-items-info .items-left {
    display: flex;
  }

  .todo-items-wrapper .todo-items-info .items-status {
    display: none;
  }

  .todo-items-wrapper .todo-items-info .items-clear {
    display: flex;
  }
}
